html, body, #app, .n-config-provider, .n-space>div {
  height: 100%;
  min-width: 1440px;
}
div {
  transition: background-color .3s;
}
.icon {
  width: 16px; 
  height: 16px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.n-button--disabled {
  background: #F7F8FA !important;
  border-color:#D0D3D9 !important;
}

.n-select, .n-base-selection {
  .n-base-selection-input__content {
    color: #242426 !important
  }
  .n-base-suffix .n-base-clear__placeholder {
    font-family: "iconfont" !important;
    display: flex;
    align-items: center;
    color: #84868c !important;
    &:before {
      content: "\e6e0";
    }
    .n-base-icon {
      display: none
    }
  }
  .n-base-selection {
    box-shadow: none !important;
    --box-shadow-focus: none !important;
    &-tags {
      min-height: 36px !important;
      padding: 4px 4px 0 4px !important;
    }
    .n-base-selection-input-tag {
      margin-bottom: 4px !important;
      margin-left: 10px;
    }
    .n-base-selection-tag-wrapper {
      padding: 0 4px 4px 0 !important;
    }
  }
  .n-base-selection-overlay__wrapper, .n-base-selection-input {
    color: #242426 !important;
  }
}

.n-checkbox.n-checkbox--indeterminate {
  .n-checkbox-box {
    background-color: #fff !important;
    border: 1px solid #F04848;
    display: flex;
    justify-content: center;
    align-items: center;
    .n-checkbox-icon {
      display: none
    }
    .n-checkbox-box__border {
      background-color: #F04848;
      width: 6px;
      height: 6px;
      position: inherit !important;
    }
  }
}

.n-base-select-menu {
  border-radius: 4px;
  margin-top: 4px !important;
  &__empty {
    padding: 0 !important;
  }
  .v-vl-visible-items {
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    .n-base-select-option {
      border-radius: 4px;
      margin-bottom: 4px;
    }
  }
}
.n-base-selection {
  .n-base-selection-placeholder .n-base-selection-overlay__wrapper {
    color: #84868C !important;
  }
}

.n-popover {
  margin-top: 4px !important;
  margin-bottom: 2px !important;
  padding: 6px 8px !important;
  border: 1px solid #e9ecf2;
}

.n-layout-sider {
  width: 224px !important;
  &.n-layout-sider--collapsed {
    max-width: 72px !important;
    .n-layout-toggle-button {
      background: #fff url('@/assets/menu/show.png') no-repeat right top;
      background-size: 100% 100%;
      &:hover {
        background: #fff url('@/assets/menu/show-hover.png') no-repeat right top;
        background-size: 100% 100%;
      }
    }
  }
  .n-layout-toggle-button {
    width: 30px;
    height: 30px;
    box-shadow: none !important;
    display: none !important;
    background: #fff url('@/assets/menu/hide.png') no-repeat right top;
    background-size: 100% 100%;
    border: 0 !important;
    &:hover {
      background: #fff url('@/assets/menu/hide-hover.png') no-repeat right top;
      background-size: 100% 100%;
    }
    .n-base-icon {
      display: none
    }
  }
  &:hover {
    .n-layout-toggle-button {
      display: block !important;
    }
  }
}

.n-menu-item-content {
  &:before {
    z-index: -1;
    content: "";
    background-color: #0000;
    position: absolute;
    left: 8px;
    right: 8px;
    top: 0;
    bottom: 0;
    pointer-events: none;
    border-radius: var(--n-border-radius);
    transition: background-color .3s var(--n-bezier);
  }
  &:hover {
    &:before{
      background-color: #f7f8fa;
    }
  }
}
.n-menu-item {
  &:not(.n-menu-item--selected):hover {
    &::before{
      background-color: #f7f8fa;
    }
    .n-menu-item-content-header {
      color: #545559 !important;
    }
  }
  &::before {
    left: 16px;
    right: 16px;
  }
  &-content__icon {
    width: auto !important;
    height: auto !important;
  }
  .router-link-exact-active {
    color: #F04848 !important;
    font-weight: 300 !important;
  }
  &-content-header {
    color: #545559 !important;
  }
  &-content--child-active {
    .n-menu-item-content-header {
      font-weight: 500 !important;
      color: #242426 !important;
    }
  }
  
  &--selected {
    &:before {
      background-color: #fef4f4 !important;
    }
    .n-menu-item-content__icon span:not(.iconfont) {
      border-color: #F04848
    }
  }
  &-content {
    padding-left: 28px !important;
    padding-right: 28px !important;
    &__icon {
      width: auto !important;
      height: auto !important;
      margin-right: 17px !important;
    }
    .n-base-icon.n-menu-item-content__arrow {
      color: #b4b7bf;
    }
  }
}

.n-submenu-children {
  .n-menu-item-content-header {
    padding-left: 33px;
  }
}


.n-input {
  &:not(.n-input--disabled) {
    --box-shadow-focus: 0 !important;
  }
  &__input-el {
    caret-color: #84868C !important;
  }
  &-wrapper {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  .n-input__prefix {
    margin-right: 6px !important;
  }
  .n-input-word-count {
    font-size: 14px;
    color: #84868C;
    line-height: 20px;
  } 
}

.n-date-panel-month__month-year {
  font-weight: 400 !important;
}
.n-date-panel-date {
  font-size: 12px !important;
}

.n-data-table {
  .n-data-table-th--sortable {
    text-align: left !important;
  }
  .n-data-table-sorter {
    font-family: 'iconfont' !important;
    display: flex;
    flex-direction: column;
    position: relative;
    transform: none !important;
    float: right;
    &::after {
      content: "\e6ee";
      font-size: 12px;
      transform: scale(0.7);
      position: absolute;
      top: 4px;
      color: #545559
    }
    &::before {
      content: "\e6ed";
      font-size: 12px;
      transform: scale(0.7);
      position: absolute;
      top: -1px;
      color: #545559
    }
    .n-base-icon {
      display: none
    }
  }
  .n-data-table-sorter--desc::after {
    color: #F04848;
  }
  .n-data-table-sorter--asc::before {
    color: #F04848;
  }
  .n-data-table-th.n-data-table-th--hover {
    background-color: #f7f8fa !important;
  }
  &-expand-trigger {
    color: #84868c;
  }
}

.n-select-menu {
  .n-virtual-list {
    border: 1px solid #e9ecf2 !important;
  }
  .n-base-select-option--selected {
    background-color: #FEF4F4 !important;
  }
}

.n-pagination {
  .n-pagination-item--active {
    background: #FEF4F4 !important;
    color: #F04848 !important;
    border: 0 !important;
  }
  .n-pagination-item:not(.n-pagination-item--active) {
    &:hover {
      background: #FEF4F4 !important;
      color: #F04848 !important;
    }
  }
  .n-pagination-item--button {
    border: 0 !important;
  }
}

.n-slider {
  &.n-slider--with-mark {
    margin-left: 46px !important;
  }
  .n-slider-rail__fill {
    background-color: #f9b5b5 !important;
  }
  .n-slider-handle {
    width: 32px !important;
    height: 20px !important;
    border-radius: 20px !important;
    box-shadow: none !important;
    background:#fff url('@/assets/gains/handle.png') no-repeat right top;
    background-size: 100% 100%;
    &-indicator {
      background-color: #fff !important;
      border: 1px solid #F04848 !important;
      color: #F04848 !important;
    }
    &[style$="z-index: 1;"]+ .v-binder-follower-container {
      z-index: 9999 !important;
      .n-slider-handle-indicator {
        background-color: #F04848 !important;
        color: #fff !important;
        &:before {
          color: #F04848;
        }
      }
    }
  }
  .n-slider-mark {
    font-size: 12px !important;
    color: #84868C;
    line-height: 18px;
    padding-top: 9px;
    white-space: nowrap;
    &:before {
      content: " ";
      height: 6px;
      width: 1px;
      border-left: 1px solid #84868C;
      position: absolute;
      left: 50%;
      top: 0;
    }
  }
  .n-slider-dots {
    display: none;
  }
  .n-slider-handle-indicator {
    background-color: #FEF4F4 !important;
    color: #F04848 !important;
    font-family: 'iconfont' !important;
    position: relative;
    box-shadow: none !important;
    border: 0 !important;
    &:hover {
      background-color: #F04848 !important;
      color: #fff !important;
      &:before {
        color: #F04848;
      }
    }
    &:before {
      color: #FEF4F4;
      top: 26px;
      position: absolute;
      font-size: 12px;
      left: calc(50% - 6px);
      content: "\e6ee"
    }
  }
}

.n-form {
  .n-grid {
    &>div {
      margin-top: 20px;
    }
  }
  .n-form-item {
    width: 100% !important;
  }
  .n-form-item-feedback--error {
    .n-form-item-feedback__line {
      font-size: 12px;
      color: #F04848;
    }
  }
  &-item .n-form-item-feedback-wrapper {
    min-height: 20px !important;
  }
}

.n-tabs {
  .n-tabs-tab {
    padding: 16px 5px 14px !important;
  }
}

.n-modal {
  border-radius: 4px;
}